* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Lato", sans-serif, Arial;
}

header,
main,
footer {
	display: grid;
	grid-template-columns: 1fr 1080px 1fr;
}

a {
	text-decoration: none;
}

@media (max-width: 1080px) {
	header,
	main,
	footer {
		grid-template-columns: 1% 1fr 1%;
	}
}
