* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Lato", sans-serif;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: #273b47;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #273b47;
	font-family: "Montserrat", sans-serif;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	line-height: 1.6em;
}

button {
	height: 4rem;
	font-size: 1.4rem;
	border: none;
	border-radius: 0.4rem;
}
