header {
	margin-bottom: 2rem;
}

.hero__container {
	grid-column-start: 2;

	width: 100%;
	height: 16rem;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hero__profile-picture {
	width: 14rem;
	height: 14rem;

	margin: 0 1rem;

	border-radius: 2.5rem;
	display: flex;
	align-items: center;
}

.hero__profile-picture img {
	width: 100%;

	border-radius: 2.5rem;

	object-fit: cover;
}

.hero__container h1 {
	margin-right: 2rem;
	font-size: 1.8rem;
	color: #1b262c;
	text-align: right;
}
