/* ---------- Header ---------- */
header {
	margin-bottom: 6rem;
}

.navbar {
	width: 100%;
	height: 6rem;
	padding: 0 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar img {
	width: 4rem;
	height: 4rem;
}

.navbar a {
	font-size: 1.6rem;
}

.navbar button {
	width: 8rem;
}

/* ---------- About-me Section ---------- */
.about {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about article {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about article img {
	width: 24%;
	border-radius: 50%;
}

.article-wrapper {
	width: 72%;
}

.article-wrapper h1 {
	font-size: 2.2rem;
}

.article-wrapper h2 {
	font-size: 1.8rem;
	font-weight: 500;
}

.article-wrapper p {
	font-size: 1.6rem;
	text-align: justify;
}

/* ---------- Projects Section ---------- */
.section-title {
	margin: 2rem 0;
	font-size: 2.2rem;
	font-weight: 500;
	text-align: center;
}

.projects {
	width: 100%;
	padding: 6rem 0;
	display: flex;
	flex-direction: column;
	/* background-color: coral; */
	background-color: #ffedda;
	clip-path: polygon(0 4%, 100% 0, 100% 96%, 0 100%);
}

.project-item {
	margin: 2rem 10%;
	padding: 1rem;
	display: flex;
	align-items: center;
	border-radius: 2.5rem;
	background-color: white;
	/* box-shadow: 0.4rem 0.4rem 0.1rem rgba(125, 237, 255, 1); */
	box-shadow: 0.4rem 0.4rem 0.1rem rgba(61, 178, 255, 1);
}

.project-item img {
	height: 18rem;
	margin: 1rem;
	border-radius: 2.5rem;
}

.project-item__wrapper {
	margin-left: 2rem;
	margin-right: 2rem;
}

.project-item__wrapper h4 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.project-item__wrapper span {
	margin-right: 0.4rem;
	padding: 0.4rem;
	font-size: 1.4rem;
	border-radius: 0.4rem;
	background-color: lightcyan;
}

.project-item__wrapper .languaje {
	background-color: lightyellow;
}

.project-item__wrapper p {
	font-size: 1.5rem;
	text-align: justify;
}

.project-item__wrapper button {
	width: 12rem;
	margin-bottom: 1rem;
}

.all-projects {
	width: 22rem;
	margin: 2rem auto;
}

/* ---------- Blogs ---------- */
.blogs {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.blogs-wrapper {
	width: 100%;
	padding: 0 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.blog-item {
	width: 28rem;
	margin: 2rem 0;
	display: inline-block;
	border-radius: 2.5rem;
	box-shadow: 0.4rem 0.4rem 0.1rem rgba(61, 178, 255, 1);
}

.blog-item article img {
	width: 100%;
	height: 16rem;
	object-fit: cover;
	border-radius: 2.5rem 2.5rem 0 0;
}
.blog-item article h4 {
	margin: 1rem 2rem;
	font-size: 1.8rem;
	font-weight: 500;
}

.blog-item article p {
	margin: 0 2rem;
	font-size: 1.5rem;
	text-align: justify;
}

.blog-item article button {
	width: 10rem;
	margin: 2rem;
}

.all-blogs {
	width: 22rem;
	margin: 2rem auto;
}

/* Footer */
footer {
	margin-top: 4rem;
	width: 100%;
	height: 16rem;
	display: flex;
	flex-direction: column;
}

.up-footer {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ffedda;
}

.up-footer p,
.low-footer p {
	font-size: 1.6rem;
}

.up-footer img {
	width: 4rem;
	height: 4rem;
}

.low-footer {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
