.header {
    width: 100%;
    height: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0.2rem 0 rgb(93 96 99 / 10%);
}

.main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.main > section {
    grid-column: 2 / 12;
}

.main--section_about {
    margin-bottom: 4rem;
}

.main--section_about figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.main--section_about figure img {
    width: 80%;
    border-radius: 2.4rem;
}

.main--section_about div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main--section_about div h2 {
    margin-bottom: 2rem;
}

.main > h3 {
    grid-column: 2 / 12;
    margin-bottom: 4rem;
    text-align: center;
}

.project--item {
    margin-bottom: 4rem;
    padding: 2rem 0;
    border-radius: 2.4rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    background-color: white;
    box-shadow: 0.4rem 0.4rem 0.2rem rgb(61 178 255);
}

.project--item_presentation {
    grid-column: 2 / 12;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project--item_presentation figure a img {
    width: 100%;
    border-radius: 2.4rem;
}

.project--item_description {
    grid-column: 2 / 12;
}

.project--item_description span {
    margin: 0.2rem;
    padding: 0.2rem 0.8rem;
    border-radius: 0.4rem;
    color: white;
    background-color: rgba(61, 178, 255, 1);
    display: inline-block;
}
.project--item_description .languaje {
    background-color: rgba(255, 184, 48, 1);
}

.project--item_description p {
    margin-bottom: 2rem;
}

.project--item_description button {
    padding: 2rem;
    border: none;
    border-radius: 1.2rem;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #364552;
    color: #fffffc;
}

.footer section {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_first_section a {
    color: snow;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.footer_first_section a:hover {
    color: lightblue;
}

.footer_second_section img {
    width: 6rem;
    margin: 0 0.8rem;
}

/* Media Q */
@media (min-width: 768px) {
    .main--section_about {
        display: flex;
    }
    .main--section_about figure {
        margin: 0 4rem 0 0;
    }

    .project--item_presentation {
        grid-column: 2 / 5;
        margin-bottom: 0;
    }
    .project--item_description {
        grid-column: 6 / 12;
    }

    .footer {
        flex-direction: row;
    }

    .footer section {
        margin: 0 auto;
    }
}

@media (min-width: 1600px) {
    .main--section_about figure img {
        width: 24rem;
    }

    .main--section_projects {
        display: grid;
        grid-gap: 4rem;
        grid-template-columns: repeat(2, 1fr);
    }
}
