section {
	width: 72rem;
	margin: 0 auto;
}

section h1 {
	margin-bottom: 2rem;
	font-size: 3.2rem;
	font-weight: 600;
}

section h2 {
	font-size: 2.2rem;
	font-weight: 500;
}

section h3 {
	font-size: 1.8rem;
	font-weight: 500;
}

section p {
	font-size: 1.6rem;
}

section p > a {
	color: #4dab9a;
}

.cv-download__btn {
	width: 24rem;
	margin: 0 auto;
}

/* ---------- My Sections ---------- */
.resume-section__title {
	width: 72rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	font-size: 2.2rem;
	font-weight: 500;
}

.my-information,
.my-skills,
.my-languages {
	display: flex;
	justify-content: space-around;
}

.my-information div,
.my-skills div,
.my-languages div {
	width: 50%;
	padding: 0 2rem;
}

/* Mobile and Tablet */
@media only screen and (max-width: 767px) {
	section,
	.resume-section__title {
		width: 90%;
	}

	.my-information,
	.my-skills,
	.my-languages {
		display: block;
	}

	.my-information div,
	.my-skills div,
	.my-languages div {
		width: 100%;
	}
}

.a3 {
	width: 61.2rem ;
	height: 79.2rem;
	background-color: whitesmoke;
}