body {
	width: 72rem;
	margin: 0 auto;
}

h1 {
	margin-bottom: 2rem;
	font-size: 3.2rem;
	font-weight: 600;
}

h2 {
	font-size: 2.2rem;
	font-weight: 500;
}

h3 {
	font-size: 1.8rem;
	font-weight: 500;
}

p {
	font-size: 1.6rem;
}

p > a {
	color: #4dab9a;
}

/* ---------- Header Section ---------- */
header {
	width: 100%;
}

.navbar {
	width: 100%;
	height: 6rem;
	padding: 0 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar img {
	width: 4rem;
	height: 4rem;
	transition: ease-in-out;
	transition: transform 0.2s;
}

.navbar img:hover {
	transform: scale(1.4);
}

.navbar-link {
	font-size: 1.6rem;
	text-underline-offset: 0.4rem;
	transition: ease-in-out;
	transition: 0.2s;
}

.navbar-link:hover {
	text-decoration: underline;
	text-decoration-color: rgba(255, 36, 66, 1);
}

.navbar button {
	width: 8rem;
}

/* My information */
.section-title__resume {
	margin-bottom: 2rem;
}
.my-information,
.my-skills,
.my-languages {
	display: flex;
	justify-content: space-around;
}

.my-information div,
.my-skills div,
.my-languages div {
	width: 50%;
	padding: 0 2rem;
}

/* Footer */
footer {
	width: 100%;
	height: 16rem;
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
}

.up-footer {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(255, 237, 218, 1);
}

.up-footer p,
.low-footer p {
	font-size: 1.6rem;
}

.up-footer img {
	width: 4rem;
	height: 4rem;
	transition: ease-in-out;
	transition: transform 0.2s;
}

.up-footer img:hover {
	transform: scale(1.6);
}

.low-footer {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Mobile and Tablet */
@media only screen and (max-width: 767px) {
	body {
		width: 90%;
	}

	.my-information,
	.my-skills,
	.my-languages {
		display: block;
	}

	.my-information div,
	.my-skills div,
	.my-languages div {
		width: 100%;
	}
}
